@import "variables.scss";
.loading-screen {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  top: 0;
  left: 0;
  z-index: 9998;
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.75;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
  }
}
