@import "_variables";

.profile-main {
  @include main;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 30rem;
  @media (max-width: $mobile) {
    width: 90%;
  }
  h1 {
    line-height: 1;
    font-size: 1.75rem;
  }
  .underline {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  a {
    color: $lightColor;
    font-weight: 500;
    margin-top: 1rem;
    font-size: 1.2rem;
    transition-duration: 300ms;
    &:hover {
      color: $lightColorHover;
    }
  }
  .username {
    font-size: 1.35rem;
    margin-top: 1rem;
  }
  p {
    word-wrap: break-word;
  }
}
