@import "_variables";

.profile-main {
  @include main;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 30rem;
  @media (max-width: $mobile) {
    width: 90%;
  }
  h1 {
    line-height: 1;
    font-size: 1.75rem;
    text-transform: capitalize;
  }
  .underline {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .logout-link {
    color: $lightColor;
    font-weight: 500;
    margin-top: 1rem;
    font-size: 1.2rem;
    transition-duration: 300ms;
    cursor: pointer;
    &:hover {
      color: $lightColorHover;
    }
    &:focus-visible {
      color: $lightColorHover;
      outline: 2px solid $lightColorHover;
    }
  }
  .username {
    font-size: 1.35rem;
    margin-top: 1rem;
  }
  p {
    word-wrap: break-word;
  }
  .no-profile {
    text-align: center;
  }
}

//? GUEST MODE
.logout-modal {
  background-color: rgba(0, 0, 0, 0.64);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1009;
  line-height: 1.25;
  &.off {
    display: none;
  }
  .modal-content {
    background-color: white;
    padding: 1rem;
    width: 90%;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
    p {
      text-align: center;
    }
    .modal-btns {
      margin-top: 1rem;
      display: flex;
      gap: 1rem;
    }
    button {
      cursor: pointer;
      background-color: $textColorDark;
      border: 0;
      border-radius: 3px;
      color: $bgColor;
      padding: 0.25rem 0.35rem;
      a {
        color: $bgColor;
      }
    }
  }
}
