@import "variables.scss";
.single-result {
  display: flex;
  margin: 0.9rem auto;
  background-color: $bgColor;
  max-height: 11rem;
  box-shadow: 0px 5px 10px hsla(0, 0%, 0%, 0.1);
  overflow: hidden;
  align-items: center;
  width: 90%;
  min-width: 90%;
  border-radius: 0 3px 3px 0;
  padding: 1rem 1rem 1rem 0;

  img {
    margin-right: 0.5rem;
    min-height: 11rem;
    height: 100%;
    min-width: 7.5rem;
    max-width: 7.5rem;
    width: 7.5rem;
  }
}

.info-container {
  max-height: 9rem;
  width: 60%;
  overflow-y: auto;
  scrollbar-color: hsla(204, 59%, 47%, 0.3) transparent;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;

  &::-webkit-scrollbar {
    width: 8px;
    cursor: pointer;
  }
  &::-webkit-scrollbar-thumb {
    background-color: hsla(204, 59%, 47%, 0.3);
    border-radius: 1rem;
    transition-duration: 300ms;

    &:hover {
      background-color: hsla(204, 59%, 47%, 0.5);
    }
    &:active {
      background-color: hsla(204, 59%, 47%, 0.7);
    }
  }

  a {
    color: $lightColor;
    font-weight: 700;
    transition-duration: 150ms;
    &:hover {
      color: $lightColorHover;
    }

    &:focus-visible {
      color: $lightColorHover;
      outline: none;
    }
  }
  &:focus-within::-webkit-scrollbar-thumb {
    background-color: $textColorDark;
  }
}

strong {
  font-weight: 700;
  color: $textColorDark;
}

.add-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
  gap: 0.6rem;
  margin-left: auto;

  button {
    @include defaultBtn;
    background-color: $lightColor;
    width: 80%;
    padding: 0.25rem 0;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition-duration: 300ms;
    font-size: 1rem;

    &.active {
      background-color: $textColorDark;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.35rem;

      &:hover {
        background-color: $textColorDarkHover;
      }
      &:active {
        background-color: $textColorDarkActive;
      }
    }

    &:focus-visible {
      outline: 2px solid $textColorDark;
      transition-duration: 0ms;
      background-color: $lightColorHover;
    }
    &:hover,
    &:active {
      background-color: $lightColorHover;
    }
  }
}

@media (max-width: $mobile) {
  .single-result {
    flex-direction: column;
    max-width: 90%;
    max-height: none;
    padding: 1rem;
    border-radius: 3px;
    img {
      max-height: none;
      min-width: 0;
      max-width: 10rem;
    }
  }

  .info-container {
    width: 90%;
    overflow-y: visible;
    max-height: none;
    margin: 1rem 0;
    font-size: 0.9rem;
  }

  .add-buttons {
    width: 70%;
    margin-left: 0.5rem;

    button {
      width: 100%;
      font-size: 1rem;
      &.active {
        justify-content: center;
        gap: 0.75rem;
      }
    }
  }
}
